# Ignore virtual environments
honeypot_env/
myvenv/
venv38/
cleanenv/

# Ignore system and cache files
__pycache__/
*.pyc
.DS_Store

# Ignore PCAP and heavy data files
*.pcap
*.pcapng

# Ignore outputs and logs
*.csv
*.txt
*.log
*.dot
*.ps

# VS Code
.vscode/

