# Ignore virtual environments
honeypot_env/
venv/
.env/

# Ignore __pycache__
__pycache__/
*.pyc

# Ignore large data files
*.pcap
*.pcapng

# Ignore system files
.DS_Store

# Ignore environment files
.env
*.env

# Ignore data outputs
*.csv
*.log
*.txt
